body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url(./cloud.jpg);
    background-repeat:no-repeat;
    text-align: center;
    margin: 50px;
  
}

#weather-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(201, 155, 62);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#weather-icon {
    max-width: 200px;
    margin: 0 auto;
}
